@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: VT323;
  font-size: 25px;
  box-sizing: border-box;
}

button:active {
  position: relative;
  box-shadow: none;
  right: -5px; 
  bottom: -5px;
}

.container {
  background: #4C1E4F; 
  height: 100vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  border: 3px solid black;
  background: rgb(255, 134, 154);
  border-radius: 10px;
  padding: 10px;
}

.input-screen {
  display: flex;
  justify-content: flex-end;
}

.input-screen input{
  border: 2px solid black;
  background: rgb(153, 255, 106);
  border-radius: 10px;
  flex: auto; /* same with -> width: 100%; */
  outline: none;
  font-size: 30px;
  text-align: right;
  padding: 10px;
}

.number-btn {
  padding: 15px 22px;
  margin: 5px;
  background: yellow;
  border-radius: 7px;
  border: 3px solid black;
  box-shadow: 5px 5px 0px black;
  cursor: pointer;
}

.AC-btn {
  padding: 15px 18px;
  margin: 5px;
  background: yellow;
  border-radius: 7px;
  border: 3px solid black;
  box-shadow: 5px 5px 1px black;
  cursor: pointer;
}

.cal-section {
  display: flex;
  flex-direction: column;
}

.cal-btn {
  padding: 15px 18px;
  margin: 5px;
  background: orange;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 5px 5px 0px black;
  padding: 8.5px 15px;
  cursor: pointer;
}
